body
{
	font-size:14px;
    padding: 0 12px;
}
a
{
	text-decoration:none;	
}
#desDiv
{
	border:solid 1px #eee;
	background-color:#f5fafe;
	padding:5px;
}
#desDiv span
{
	font-weight:bold;	
	font-size:14px;
}
#dataDiv
{
	border:solid 1px #5A98DE;
	margin:5px 0px;
}
#headDiv
{
	height:25px;
	line-height:22px;
	padding-left:10px;
    background-color: #5A98DE;
}
#headDiv img
{
	vertical-align:middle;	
}
#pageDiv
{
	height:38px;	
}
#pageDiv input[type="text"]
{
	width:40px;
}
.dataTable
{
	width:99%;
	margin:5px;
	border:solid 1px #B5D6E6;
	border-collapse:collapse;
}
.dataTable th,td
{
	border:solid 1px #ddd;
	padding:3px;
    height: 28px;
    text-align: center;
}
.dataTable th
{
	height:16px;
	font-size:12px;
    background-color:#f5f5f6;
	font-weight:normal;	
}
.dataTable img
{
	cursor:pointer;	
}
.dataTable input[type="text"]
{
	width:50px;
}
#leftPage
{
	float:left;
	padding:5px 10px;	
	line-height:25px;
}
#rightPage
{
	float:right;
	padding:2px 10px;	
}
