<!doctype html>
<html>
<head>
    <title></title>
    <link href="../CSS/style2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <table class="tableEdit" id="table-powerEdit">
        <tbody>
            <tr>
                <th>营销管理</th>
                <td colspan="3">
                    <label><input type="checkbox" /> 销售机会管理</label> <br />
                    <label><input type="checkbox" /> 销售机会分配</label> <br />
                    <label><input type="checkbox" /> 客户开发计划</label> <br />
                </td>
            </tr>
            <tr>
                <th>客户管理</th>
                <td colspan="3">
                    <label><input type="checkbox" /> 客户信息管理</label> <br />
                    <label><input type="checkbox" /> 客户流失管理</label> <br />
                </td>
            </tr>
            <tr>
                <th>服务管理</th>
                <td colspan="3">
                    <label><input type="checkbox" /> 服务创建</label> <br />
                    <label><input type="checkbox" /> 服务分配</label> <br />
                    <label><input type="checkbox" /> 服务处理</label> <br />
                    <label><input type="checkbox" /> 服务反馈</label> <br />
                    <label><input type="checkbox" /> 服务归档</label> <br />
                </td>
            </tr>
            <tr>
                <th>系统管理</th>
                <td colspan="3">
                    <label><input type="checkbox" /> 用户管理</label> <br />
                    <label><input type="checkbox" /> 角色管理</label> <br />
                    <label><input type="checkbox" /> 权限管理</label> <br />
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
