<!doctype html>
<html>
<head>
    <title></title>
    <link href="../CSS/Style1.css" rel="stylesheet" type="text/css" />
    <link href="../css/qxqpaging.css" rel="stylesheet" />
    <style>
        .usernames {
            color: purple;
            cursor: pointer;
            padding: 2px 10px 2px 2px;
            border-bottom: 1px solid #ddd;
        }

            .usernames:hover {
                background-color: #76ba6b;
                font-weight: 700;
                color: #c15305;
            }
    </style>

</head>
<body>
    <div id="desDiv">
        <span>服务分配</span><br />
        对于客户提出的咨询、建议、投诉等服务分配专人进行处理
    </div>
    <div id="dataDiv">
        <div id="headDiv">
        </div>
        <table class="dataTable">
            <thead>
                <tr>
                    <th width="15%">客户名称</th>
                    <th>概要</th>
                    <th width="12%">服务类型</th>
                    <th width="12%">创建人</th>
                    <th width="20%">创建时间</th>
                    <th width="12%">服务分配</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="pageDiv"></div>
    </div>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../lib/layer/layer.js"></script>
    <script src="../js/jquery.qxqpaging.js"></script>
    <script src="../js/mymethod.js"></script>
    <script>
        $(function () {
            checkIsLogin();
            loadServiceAllotData();
        });

        function loadServiceAllotData(nowPageIndex) {
            $("#pageDiv").qxqpaging({
                url: "../services/CustomerService.asmx/LoadServiceAllotPaging",
                pageIndex: nowPageIndex || 1,
                pageSize: 5,
                success: function (data) {
                    if (data == null) {
                        location.href = getUrlHeader() + "404.html";
                        return;
                    }
                    // 保存当前页码，操作完成后继续跳转到此页
                    var nowPageIndex = this.pageIndex;
                    // 查询，显示结果
                    // 删除原有数据
                    $("#dataDiv > .dataTable tbody tr").remove();
                    $.each(data, function (index, item) {
                        //创建行
                        var tr = $("<tr/>").appendTo("#dataDiv > .dataTable tbody").data("CSID", item.CSID);
                        //创建单元格
                        $('<td/>').appendTo(tr).text(item.CusName || "");
                        $('<td/>').appendTo(tr).text(item.CSTitle || "").css("text-align", "left");
                        $('<td/>').appendTo(tr).text(item.STName || "");
                        $('<td/>').appendTo(tr).text(item.CSCreateMan || "");
                        $('<td/>').appendTo(tr).text(convertToDate(item.CSCreateDate));
                        var td7 = $('<td/>').appendTo(tr);
                        // 文本框
                        var caozuo = $('<input type="text" title="可输入简称或全称搜索"/>').val(item.CSDueMan || "").appendTo(td7);
                        // 文本框获取焦点，弹框
                        caozuo.focus(function () {
                            $(this).val("");
                            layer.closeAll();
                            layer.tips('输入简称或全称搜索<br/>例如：zsf, z, 张三丰, 张', caozuo, { tips: 3 });
                            var index = layer.open({
                                type: 1,
                                title: false,
                                offset: [$(this).offset().top + $(this).height() + 6 - $(document).scrollTop(), $(this).offset().left],
                                shade: [0, "transparent"],
                                shadeClose: true,
                                closeBtn: 0,
                                success: function (layero, index) {
                                    layero.css("box-shadow", "none").css("border", "1px solid #999");
                                    var content = layero.find('div.layui-layer-content');
                                    // 键盘按下
                                    caozuo.keyup(function () {
                                        content.children().remove();
                                        if ($(this).val().trim().length == 0) return;
                                        $.ajax({
                                            type: "post",
                                            url: "../services/CustomerService.asmx/LoadChanDueManNameList",
                                            data: JSON.stringify({ nameCode: caozuo.val().trim() }),
                                            contentType: "application/json",
                                            dataType: "json",
                                            async: false,
                                            success: function (r) {
                                                for (var i = 0; i < r.d.length; i++) {
                                                    $('<div title="单击分配" />').appendTo(content).text(r.d[i].UserName).data("id", r.d[i].UserID).addClass('usernames');
                                                }
                                            }
                                        });
                                    });
                                    // 单击分配
                                    content.on("click", "div.usernames", function (event) {
                                        var txt = $(this).text();
                                        $.ajax({
                                            type: "post",
                                            url: "../services/CustomerService.asmx/UpdateCSDueMan",
                                            data: JSON.stringify({ csDueID: $(this).data("id"), csID: item.CSID }),
                                            contentType: "application/json",
                                            dataType: "json",
                                            success: function (r) {
                                                layer.close(index);
                                                if (r.d > 0) {
                                                    layer.msg('分配成功!', { time: 1000 });
                                                } else {
                                                    layer.msg('服务器繁忙，请稍后重试！', { time: 1000 });
                                                }
                                            }
                                        });
                                    });
                                },
                                end: function () { loadServiceAllotData(nowPageIndex); }
                            });
                        });
                    });
                }
            });
        }
    </script>
</body>
</html>
